{{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>NetCTOSS</title>
        <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/global.css' %}" />
        <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/global_color.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>



        <script language="javascript" type="text/javascript">
            $(function () {
                $('#recommder_idcard').blur(function () {
                    var recommder_idcard = $(this).val();
                    alert(recommder_idcard);
                    $.get('/account/accountGetRecommderId/',
                        {'recommder_idcard':recommder_idcard},
                        function (data) {
                            if(data['status'] == 200){
                                alert(222);
                                $('#recommder_id_hidden').val(data['recommender_id']);
                            }
                        })
                })

                $('#realname').blur(function () {
                    var name = $(this).val().trim();
                    var reg = /^[\u4E00-\u9FA5a-zA-Z]{1,20}$/
                    if(reg.test(name)){
                        alert(111);
                        $.ajax(
                            {
                                url:'/account/accountCheckName/',
                                type:'get',
                                data:{'name':name},
                                dataType:'json',
                                success:function (data) {
                                    if(data['status'] == 200){
                                        $('#realname_info').html('用户名字可以使用').css('color','green');
                                    }else{
                                        $('#realname_info').html('用户名字已经存在').css('color','red');
                                    }
                                }
                            }
                        )
                    }else{
                        $('#realname_info').html('用户名字格式不正确').css('color','red');
                    }

                })
                
                $('#repeat_passwd').blur(function () {
                    var login_passwd = $('#login_passwd').val();
                    var repeat_passwd = $(this).val();
                    if(login_passwd == repeat_passwd){
                        $('#passwd_info').html('两次密码一致').css('color','green');
                    }else{
                        $('#passwd_info').html('两次密码不一致，请重新输入').css('color','red');
                    }
                })


            })






            //保存成功的提示信息
            function showResult() {
                showResultDiv(true);
                window.setTimeout("showResultDiv(false);", 3000);
            }
            function showResultDiv(flag) {
                var divResult = document.getElementById("save_result_info");
                if (flag)
                    divResult.style.display = "block";
                else
                    divResult.style.display = "none";
            }

            //显示选填的信息项
            function showOptionalInfo(imgObj) {
                var div = document.getElementById("optionalInfo");
                if (div.className == "hide") {
                    div.className = "show";
                    imgObj.src = "{% static 'images/hide.png' %}";
                }
                else {
                    div.className = "hide";
                    imgObj.src = "../images/show.png";
                }
            }
        </script>
    </head>
    <body>
        <!--Logo区域开始-->
        <div id="header">
            <img src="{% static 'images/log.png' %}" alt="logo" class="left"/>
            <a href="#">[退出]</a>            
        </div>
        <!--Logo区域结束-->
        <!--导航区域开始-->
        <div id="navi">
            <ul id="menu">
                <li><a href="../index.html" class="index_off"></a></li>
                <li><a href="../role/role_list.html" class="role_off"></a></li>
                <li><a href="../admin/admin_list.html" class="admin_off"></a></li>
                <li><a href="../fee/fee_list.html" class="fee_off"></a></li>
                <li><a href="{% url 'account:accountlist' %}" class="account_on"></a></li>
                <li><a href="../service/service_list.html" class="service_off"></a></li>
                <li><a href="../bill/bill_list.html" class="bill_off"></a></li>
                <li><a href="../report/report_list.html" class="report_off"></a></li>
                <li><a href="../user/user_info.html" class="information_off"></a></li>
                <li><a href="../user/user_modi_pwd.html" class="password_off"></a></li>
            </ul>
        </div>
        <!--导航区域结束-->
        <!--主要区域开始-->
        <div id="main">       
            <!--保存成功或者失败的提示消息-->     
            <div id="save_result_info" class="save_fail">保存失败，该身份证已经开通过账务账号！</div>
            <form action="{% url 'account:accountAdd' %}" method="post" class="main_form">
                {% csrf_token %}
                <!--必填项-->
                <div class="text_info clearfix"><span>姓名：</span></div>
                <div class="input_info">
                    <input type="text" value="" name="real_name" id="realname"/>
                    <span class="required">*</span>
                    <div class="validate_msg_long" id="realname_info">20长度以内的汉字、字母和数字的组合</div>
                </div>
                <div class="text_info clearfix"><span>身份证：</span></div>
                <div class="input_info">
                    <input type="text" value="" name="idcard_no" />
                    <span class="required">*</span>
                    <div class="validate_msg_long">正确的身份证号码格式</div>
                </div>
                <div class="text_info clearfix"><span>登录账号：</span></div>
                <div class="input_info">
                    <input type="text" value="" name="login_name"  />
                    <span class="required">*</span>
                    <div class="validate_msg_long">30长度以内的字母、数字和下划线的组合</div>
                </div>
                <div class="text_info clearfix"><span>密码：</span></div>
                <div class="input_info">
                    <input type="password"  name="login_passwd" id="login_passwd"/>
                    <span class="required">*</span>
                    <div class="validate_msg_long">30长度以内的字母、数字和下划线的组合</div>
                </div>
                <div class="text_info clearfix"><span>重复密码：</span></div>
                <div class="input_info">
                    <input type="password" name = "repeat_passwd" id="repeat_passwd"/>
                    <span class="required">*</span>
                    <div class="validate_msg_long" id = "passwd_info">两次密码必须相同</div>
                </div>     
                <div class="text_info clearfix"><span>电话：</span></div>
                <div class="input_info">
                    <input type="text" class="width200" name="telephone"/>
                    <span class="required">*</span>
                    <div class="validate_msg_medium">正确的电话号码格式：手机或固话</div>
                </div>                
                <!--可选项-->
                <div class="text_info clearfix"><span>可选项：</span></div>
                <div class="input_info">
                    <img src="{% static 'images/show.png' %}" alt="展开" onclick="showOptionalInfo(this);" />
                </div>
                <div id="optionalInfo" class="hide">
                    <div class="text_info clearfix"><span>推荐人身份证号码：</span></div>
                    <div class="input_info">
                        <input type="text" id="recommder_idcard"/>
                        <div class="validate_msg_long">正确的身份证号码格式</div>
                        <input type="hidden" id = "recommder_id_hidden" name="recommder_idcardno" value="">
                    </div>
                    <div class="text_info clearfix"><span>生日：</span></div>
                    <div class="input_info">
                        <input type="text" value="" name="birthday" readonly class="readonly" />
                    </div>
                    <div class="text_info clearfix"><span>Email：</span></div>
                    <div class="input_info">
                        <input type="text" class="width350" name="email"/>
                        <div class="validate_msg_tiny">50长度以内，合法的 Email 格式</div>
                    </div> 
                    <div class="text_info clearfix"><span>职业：</span></div>
                    <div class="input_info">
                        <select name="occupation">
                            <option>干部</option>
                            <option>学生</option>
                            <option>技术人员</option>
                            <option>其他</option>
                        </select>                        
                    </div>
                    <div class="text_info clearfix"><span>性别：</span></div>
                    <div class="input_info fee_type">
                        <input type="radio" value="0" name="sex" checked="checked" id="female" />
                        <label for="female">女</label>
                        <input type="radio" value="1" name="sex" id="male" />
                        <label for="male">男</label>
                    </div> 
                    <div class="text_info clearfix"><span>通信地址：</span></div>
                    <div class="input_info">
                        <input type="text" class="width350" name="mailaddress"/>
                        <div class="validate_msg_tiny">50长度以内</div>
                    </div> 
                    <div class="text_info clearfix"><span>邮编：</span></div>
                    <div class="input_info">
                        <input type="text" name="zipcode"/>
                        <div class="validate_msg_long">6位数字</div>
                    </div> 
                    <div class="text_info clearfix"><span>QQ：</span></div>
                    <div class="input_info">
                        <input type="text" name="qq"/>
                        <div class="validate_msg_long">5到13位数字</div>
                    </div>                
                </div>
                <!--操作按钮-->
                <div class="button_info clearfix">
                    <input type="submit" value="保存" class="btn_save"/>
                    <input type="button" value="取消" class="btn_save" />
                </div>
            </form>  
        </div>
        <!--主要区域结束-->
        <div id="footer">
          
        </div>
    </body>
</html>
